<!DOCTYPE html>
<html>

  <head>
    <title>Site de Lysiane Rakotoson | Une neige et des baisers exacts</title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  </head>

  <body>
    <div class="container">
      
      <header>
          <nav class="round">
          <a>Je tente ma chance:</a>
          <ul>
            <li><%= link_to "Grandes Voix", "http://www.youtube.com/watch?v=ahb531cyg8g", :target => "_blank" %></li>
            <li><%= link_to "Grandes Voies", "http://www.les-souffleurs.fr/", :target => "_blank"%></li>
            <li><%= link_to "Pollens", "http://lysianerakotoson.blogspot.fr/p/pollens.html", :target => "_blank" %></li>
          </ul>
          </nav>
      </header>
      
      <section class="round">
          <%= yield %>
          <P align="center"> <%= image_tag("reseaux_sociaux.jpg") %>
      </section>
      
      <footer>
  		    <nav class="round">
    	    <ul>
      		  <li><a href ="http://lysianerakotoson.blogspot.fr/p/propos-de-ce-blog.html" target="_blank"> A propos de l'auteur</a></li>
            <li><a href ="http://www.cheyne-editeur.com/vocation/rakotoson.html" target="_blank"> Cheyne éditeur</a></li>
      		  <li><a href="http://lysianerakotoson.blogspot.fr/" target="_blank"> Blog - Le diffuseur poétique</a></li>
   		    </ul>
  		    </nav>
	    </footer>
    
    </div>
  </body>

</html>

